<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PGMSourceFile" value="feep.ascii.pgm"/>
    <add key="PGMFileDirectory" value="C:\Firoj\MS-Study\OOP\PGM\PGMFiles"/>
    <add key="PPMSourceFile" value="cake.ppm"/>
    <add key="PPMFileDirectory" value="C:\Firoj\MS-Study\OOP\PPM\PPMFiles"/>
  </appSettings>
</configuration>